extends layout

block content

    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.white-text.text-lighten-2 Open Government Data, Visualized
          .row.center
            h5.header.col.s12.light An open source initiative to display Denver’s data creatively 
          .row.center
            a.btn-large.waves-effect.waves-light.red.lighten-1(href='#')<i class="material-icons left">equalizer</i> View existing charts
            a.btn-large.waves-effect.waves-light.green.lighten-1(href='#')<i class="material-icons left">perm_identity</i> get involved
          br
          br
      .parallax
        img(src='/images/denver_sky_2.jpg', alt='Unsplashed background img 1')
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons group
              h5.center Open Source First
              p.light
                | Denver charts is an open source initiative to provide visualizations of public data sets published by the City and County of Denver. Over 200 data sets have been published, containing information about everything from census data and demographics to the environment and transportation.
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons code
              h5.center API
              p.light
                | While a majority of these raw datasets are available through opencolorado.org and CKAN, the need for a concise JSON API serving data relevant to Denver still exists. DenverCharts API aims to fill this gap with a platform allowing community developers to combine and  share civic data sets in new ways.
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons insert_chart
              h5.center Powerful Data Visuals
              p.light
                | Utilizing the D3 javascript library for graphing and chart generation, community developers can build rich data visualization experiences far beyond the common bar chart. These charts and graphs will provide insight into data which was previously only a spreadsheet.
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      .parallax
        img(src='/images/union_station_scale.jpg', alt='Unsplashed background img 2')
    .container
      .section
        .row
          .col.s12.center
            h3
              i.mdi-content-send.brown-text
            h4 Contact Us
            p.left-align.light
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      .parallax
        img(src='/images/background3.jpg', alt='Unsplashed background img 3')
    footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            p.grey-text.text-lighten-4
              | We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12
            h5.white-text Settings
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
      .footer-copyright
        .container
          | Made by 
          a.brown-text.text-lighten-3(href='http://materializecss.com') Materialize
 