doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/stylesheets/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    ul#dropdown1.dropdown-content
      li
        a(href='#!') one
      li
        a(href='#!') two
      li.divider
      li
        a(href='#!') three
    nav#navbar(role='navigation')
      .nav-wrapper.container
        a#logo-container.nav_text.brand-logo(href='#') Denver Charts
        ul.right.hide-on-med-and-down
          li
            a.nav_text(href='/charts/property') Property Data
        ul#nav-mobile.side-nav
          li
            a(href='#') Navbar Link
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
    block content
    //- script(src="/assets/jquery/dist/jquery.min.js")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="//d3js.org/d3.v3.min.js")
    //- script(src=")
    script(src="/javascripts/sales.js")
    script(src='/javascripts/materialize.js')
    script(src='/javascripts/init.js')

    